{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
	<div class="Site-body">
		<div class="Site-left">
			<h2>Return To Home</h2>
			<p><em>Will not save current game</em></p>
			<form action="{{ url_for('profile') }}">
				<input type="submit" value="Homepage">
			</form>
		</div>
		<main class="Site-content">
			<div class="Course-list">
				<h2>New Game for {{ courseInfo[0] }}</h2>
				<h3>Records</h3>
				<form action="{{ url_for('post_game', courseName=courseInfo[0]) }}" method="post">
					<table class="Course-listSimple">
						<tr>
							<th>Hole Number</th>
							<th>Par</th>
							<th>Your Score</th>
						</tr>
						{% for hole in courseInfo[1]['holes'] %}
						<tr>
							<td>{{ hole }}</td>
							<td>{{ courseInfo[1]['par'][hole-1] }}</td>
							<td>
								<input type="number" size="2" min="1" max="10" 
								name="{{ hole }}">
							</td>
						</tr>
						{% endfor %}
					</table>
					<p>Date: <input type="text" id="datepicker" name="date"></p>
					<br>
					<input type="submit" value="Finished">
				</form>
			</div>
		</main>
		<div class="Site-right">
		</div>
	</div>
{% else %}
	<div class="Site-body">
		<div class="Site-left">
			<h2>Return To Home</h2>
			<form action="{{ url_for('index') }}">
				<input type="submit" value="Homepage">
			</form>
		</div>
		<main class="Site-content">
			<div class="Course-add">
				<h2>Unauthorized</h2>
				<h3>Please login</h2>
			</div>
		</main>
		<div class="Site-right">
		</div>
	</div>
{% endif %}
{% endblock %}
