{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
	<div class="Site-body">
		<div class="Site-left">
			<h2>Return To Home</h2>
			<form action="{{ url_for('profile') }}">
				<input type="submit" value="Homepage">
			</form>
		</div>
		<main class="Site-content">
			<div class="Course-list">
				<h2>{{ courseInfo[0] }}</h2>
				<h3>Records</h3>
				<table class="Course-listSimple">
					<tr>
						<th>Game</th>
						<th>Date</th>
						<th>Par</th>
						<th>Your Score</th>
					</tr>
					{% for info in courseInfo[1] %}
					<tr>
						<td>{{ info.gameCount }}</td>
						<td>{{ info.Timestamp }}</td>
						<td>{{ info.par }}</td>
						<td>{{ info.score }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</main>
		<div class="Site-right">
			<h2>Start a game</h2>
			<form action="{{ url_for('add_game', courseName=courseInfo[0]) }}">
				<input type="submit" value="New Game">
			</form>
			<h2>Remove a game</h2>
			<form action="{{ url_for('delete_game', courseName=courseInfo[0]) }}">
				<input type="submit" value="Remove Game">
			</form>
		</div>
	</div>
{% else %}
	<div class="Site-body">
		<div class="Site-left">
			<h2>Return To Home</h2>
			<form action="{{ url_for('index') }}">
				<input type="submit" value="Homepage">
			</form>
		</div>
		<main class="Site-content">
			<div class="Course-add">
				<h2>Unauthorized</h2>
				<h3>Please login</h2>
			</div>
		</main>
		<div class="Site-right">
		</div>
	</div>
{% endif %}
{% endblock %}
