{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
	<div class="Site-body">
		<div class="Site-left">
			<h2>Add a new course</h2>
			<form action="{{ url_for('add_course') }}">
				<input type="submit" value="Add Course">
			</form>
		</div>
		<main class="Site-content">
			<div class="Course-list">
				<h2>Choose a course to play:</h2>
				{% if courseList != 'false' %}
				<table class="Course-listSimple">
					<tr>
						<th>Course</th>
						<th>Number of Holes</th>
						<th>Average Par</th>
					</tr>
					{% for course in courseList %}
					<tr>
						<td>
						<a href="{{ url_for('get_course', courseName=course.courseName) }}">
								{{ course.courseName }}</a></td>
						<td>{{ course.numberOfHoles }}</td>
						<td>{{ course.par }}</td>
					</tr>
					{% endfor %}
				</table>
				{% else %}
				<em>You have not added any courses to play</em>
				{% endif %}
			</div>
		</main>
		<div class="Site-right">
			<h2>Remove a course</h2>
			<form action="{{ url_for('delete_course') }}">
				<input type="submit" value="Remove Course">
			</form>
		</div>
	</div>
{% else %}
	<div class="Site-body">
		<div class="Site-left">
			<h2>Return To Home</h2>
			<form action="{{ url_for('index') }}">
				<input type="submit" value="Homepage">
			</form>
		</div>
		<main class="Site-content">
			<div class="Course-add">
				<h2>Unauthorized</h2>
				<h3>Please login</h2>
			</div>
		</main>
		<div class="Site-right">
		</div>
	</div>
{% endif %}
{% endblock %}
